{% extends 'blog/base.html' %}

{% block content %}
    <p>post list page</p>
    <p>It works!</p>

    <div class="page-header">
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    {% for post in posts %}
        <div class="post">
            <p>published: {{ post.published_date }}</p>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

    <div class="post">
        <h1>posts</h1>
        {% for post in posts %}
            {{ post }}
        {% endfor %}
        <h1>posts</h1>
        {{ posts }}
    </div>
{% endblock %}